html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.home-page {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.video-page {
	background-color: #000;
	width: 100%;
	height: 100%;
}

.video-page video {
	width: 100%;
	height: 100%;
}

.information-overlay {
	background-color: #333333aa;
	color: #aaa;
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	padding: 0.5em;
	opacity: 0.0;
	transition: 0.5s;
	pointer-events:none;
}
.video-page:hover + .information-overlay {
	opacity: 1.0;
}

.join-form {
	display: flex;
	flex-direction: column;
}

.form-element {
	margin: 0.5em;
}

/* vi: set sw=4 ts=4: */
